*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    padding: 60px;
    text-align: center;
    font-family: 'Unica One', cursive;
    color:rgba(255, 255, 255, 0.90);
    font-size: 100px;
    text-shadow: 2px 2px 4px black;
}

.p1 {
    position: relative;
    bottom: 80px;
    text-align: center;
    font-family: 'Bad Script', cursive;
    color: rgba(255, 255, 255, 0.90);
    font-size: 22px;
    text-shadow: 2px 2px 4px black;

}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(img/bg.jpg);
    opacity: .9;
    background-position: center;
    background-size: cover;
    position: relative;
}

.clock-container {
    position: relative;
    bottom: 50px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: white;    
    font-size: 40px;
    text-shadow: 2px 2px 4px black;
}

.todo-list {
    margin-left: 150px;
}

.todo-title {
    font-family: 'Unica One', cursive;
    color: white;
    font-size: 25px;
    letter-spacing: 3px;
    display: inline-block;
}

.addBtn {
    margin: 10px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.tasks-container {
    align-items: center;
}

.checkBtn {
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: none;
    margin-left: -30px;
    font-size: 15px;
}

.todo-item {
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    margin-left: 20px;
    font-family: 'Indie Flower', cursive;
}

.todo {
    color: black;
    margin: 0.5rem;
    display: flex;
    align-items: center;
}

.todo li {
    flex: 1;
}

.rain {
    font-family: 'Unica One', cursive;
    color: white;
    letter-spacing: 3px;
    font-size: 25px;
    position: absolute;
    left: 550px;
    bottom: 250px;
    text-shadow: 2px 2px 4px black;
}

.waves {
    font-family: 'Unica One', cursive;
    color: white;
    letter-spacing: 3px;
    font-size: 25px;
    position: absolute;
    left: 550px;
    bottom: 180px;
    text-shadow: 2px 2px 4px black;
}

.city {
    font-family: 'Unica One', cursive;
    color: white;
    letter-spacing: 3px;
    font-size: 25px;
    position: absolute;
    left: 550px;
    bottom: 110px;
    text-shadow: 2px 2px 4px black;
}

.lofi {
    font-family: 'Unica One', cursive;
    color: white;
    letter-spacing: 3px;
    font-size: 25px;
    position: absolute;
    left: 550px;
    bottom: 40px;
    text-shadow: 2px 2px 4px black;
}

.volume-controller{
    box-shadow: 0 1px 10px 0 rgb(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    position: absolute;
    left: 680px;
    bottom: 260px;
}

.slider{
    position: relative;
    width: 300px;
    height: 8px;
}

.slider input[type="range"] {
    position: absolute;
    left: -2px;
    top: 0;
    width: 304px;
    height: 8px;
    -webkit-appearance: none;
    background: transparent;
    z-index: 99;
}

.slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-color: white;
    border: 2px solid rgb(red);
    cursor: pointer;
    box-shadow: 0 0 0 1px white;
    border-radius: 50%;
}

.slider input::-webkit-slider-thumb:hover{
    transform: scale(1.1);
}

.slider progress {
    width: 300px;
    height: 7px;
    -webkit-appearance: none;
    position: absolute;
    top: 0px;
    border-radius: 5px;
    overflow: hidden;
}

.slider progress::-webkit-progress-bar {
    background: gray;
}

.slider progress::-webkit-progress-value {
    background: white;
}

.waves-volume-controller{
    box-shadow: 0 1px 10px 0 rgb(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    position: absolute;
    left: 680px;
    bottom: 190px;
}

.waves-slider{
    position: relative;
    width: 300px;
    height: 8px;
}

.waves-slider input[type="range"] {
    position: absolute;
    left: -2px;
    top: 0;
    width: 304px;
    height: 8px;
    -webkit-appearance: none;
    background: transparent;
    z-index: 99;
}

.waves-slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-color: white;
    border: 2px solid rgb(red);
    cursor: pointer;
    box-shadow: 0 0 0 1px white;
    border-radius: 50%;
}

.waves-slider input::-webkit-slider-thumb:hover {
    transform: scale(1.1);
}

.waves-slider progress {
    width: 300px;
    height: 7px;
    -webkit-appearance: none;
    position: absolute;
    top: 0px;
    border-radius: 5px;
    overflow: hidden;
}

.waves-slider progress::-webkit-progress-bar {
    background: gray;
}

.waves-slider progress::-webkit-progress-value {
    background: white;
}

.city-volume-controller {
    box-shadow: 0 1px 10px 0 rgb(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    position: absolute;
    left: 680px;
    bottom: 120px;
}

.city-slider {
    position: relative;
    width: 300px;
    height: 8px;
}

.city-slider input[type="range"] {
    position: absolute;
    left: -2px;
    top: 0;
    width: 304px;
    height: 8px;
    -webkit-appearance: none;
    background: transparent;
    z-index: 99;
}

.city-slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-color: white;
    border: 2px solid rgb(red);
    cursor: pointer;
    box-shadow: 0 0 0 1px white;
    border-radius: 50%;
}

.city-slider input::-webkit-slider-thumb:hover {
    transform: scale(1.1);
}

.city-slider progress {
    width: 300px;
    height: 7px;
    -webkit-appearance: none;
    position: absolute;
    top: 0px;
    border-radius: 5px;
    overflow: hidden;
}

.city-slider progress::-webkit-progress-bar {
    background: gray;
}

.city-slider progress::-webkit-progress-value {
    background: white;
}

.lofi-volume-controller {
    box-shadow: 0 1px 10px 0 rgb(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    position: absolute;
    left: 680px;
    bottom: 50px;
}

.lofi-slider {
    position: relative;
    width: 300px;
    height: 8px;
}

.lofi-slider input[type="range"] {
    position: absolute;
    left: -2px;
    top: 0;
    width: 304px;
    height: 8px;
    -webkit-appearance: none;
    background: transparent;
    z-index: 99;
}

.lofi-slider input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-color: white;
    border: 2px solid rgb(red);
    cursor: pointer;
    box-shadow: 0 0 0 1px white;
    border-radius: 50%;
}

.lofi-slider input::-webkit-slider-thumb:hover {
    transform: scale(1.1);
}

.lofi-slider progress {
    width: 300px;
    height: 7px;
    -webkit-appearance: none;
    position: absolute;
    top: 0px;
    border-radius: 5px;
    overflow: hidden;
}

.lofi-slider progress::-webkit-progress-bar {
    background: gray;
}

.lofi-slider progress::-webkit-progress-value {
    background: white;
}