*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{
    padding: 60px;
    text-align: center;
    font-family: 'Unica One', cursive;
    color:rgba(255, 255, 255, 0.90);
    font-size: 100px;
    text-shadow: 2px 2px 4px black;
}

.p1{
    position: relative;
    bottom: 80px;
    text-align: center;
    font-family: 'Bad Script', cursive;
    color: rgba(255, 255, 255, 0.90);
    font-size: 22px;
    text-shadow: 2px 2px 4px black;

}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(img/bg.jpg);
    opacity: .9;
    background-position: center;
    background-size: cover;
    position: relative;
}

.clock-container{
    position: relative;
    bottom: 40px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    color: white;    
    font-size: 40px;
    text-shadow: 2px 2px 4px black;
}

.todo-list{
    margin-left: 150px;
}

.todo-title{
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 30px;
    letter-spacing: 5px;
    display: inline-block;
}

.addBtn{
    margin: 10px;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 15px;
}

.tasks-container{
    align-items: center;
}

.checkBtn {
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 15px;
}

.todo-item {
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    font-family: 'Unica One', cursive;
    margin-left: 20px;
    
}

.todo{
    color: black;
    margin: 0.5rem;
    display: flex;
    align-items: center;
}

.todo li {
    flex: 1;
}

